html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	color: #252525;
	height: auto;
}

h1,
h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: "Pacifico", cursive;
	font-weight: 200;
	color: #252525;
}

h2 {
	font-size: 1.8em;
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	margin-top: 0;
	line-height: 180%;
	text-align: center;
}

main {
	margin: 0 auto;
}

#topBar {
	background: #252525;
	width: 100%;
	padding: 1em;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2em;
	height: auto;
}

@media all and (min-width: 1200px) {
	.wrapper {
		padding: 0;
	}
}

/* Header */

header {
	background: #d7efee;
	padding: 2em 0;
}

header h1 {
	text-align: center;
	font-size: 2.2em;
}

@media all and (min-width: 1035px) {
	header h1 {
		font-size: 3.3em;
		float: right;
		margin-top: 10%;
		margin-right: 10%;
	}
}

h2 #logo {
	text-align: center;
}

#logo img {
	width: 30%;
	height: auto;
	max-width: 300px;
	min-width: 100px;
}

@media all and (min-width: 1035px) {
	.mobilelogo {
		display: none;
	}
}

@media all and (max-width: 1035px) {
	.desktoplogo {
		display: none;
	}
}

/* Typography */

#typography {
	background: #8eced1;
	padding: 2em 0;
}

#typography a {
	color: #252525;
	font-weight: bold;
	text-decoration: none;
}

#typography a:hover {
	color: #f57b4a;
}

#typography p {
	margin: 0;
}
